*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
:root{
    --main-color:aqua;
    --text-color:rgb(126, 73, 73);
    --text-color-hover:blue;
    --text-color-parrafo:grey;
}
h2{
   color:aqua; 
}
p{
    color:var(--text-color-parrafo);
}
li{
    color:rgb(59,9,30);
}
ul{
    color:rgba(224, 36, 114, 1);
}
.color-negro{
    color:var(--text-color);
}
#subtitulo{
    color:var(--text-color);
}
.card{
    width: 400px;
    height: 400px;
    margin:10px;
    border:1px solid blue;
    color:var(--text-color);
    list-style: none;



}
.card__image{
width: 80%;
padding: 15px;
border-radius: 10%;
}
.card__texto{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: none;
    text-align: justify;
}

.card{
    &__image{
        color:aliceblue;
    }
}
.card{
    .card__image{
      
    }
    & .card__image{

    }
}


.faq{

}
.faq__pregunta{

}
.faq__respuesta{

}
.faq{

}
.faq__pregunta{

}

.menu p #cabecera{

}

.menu{

}
.image{
background-color: aliceblue;
}
.texto{

}

.menu .image{
background-color: aquamarine;
}

.menu__image{
    background-color: aquamarine; 
}
.fondo__image{
    background-color: aliceblue; 
}
.busqueda{

}
.busqueda__entrada{

}
.busqueda__entrada:focus{
color:aliceblue;
}
.busqueda__entrada__icon{

}
.boton-div{
    width:200px;
    height: 200px;
    padding:15px;
    border:5px solid grey;
    margin:10px;
}
.boton-div__enviar{
    font-size: 14px;
    color: blue;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    background-image: url("./img/fondo.jpg");
    background-repeat: no-repeat;
    background:linear-gradient(90deg,blue,red);
    background-size: 90%;
    background-clip:border-box;
}

.card__boton {
    border: 0.8em darkviolet;
    border-style: dotted double;
    margin: 1em 0;
    padding: 1.4em;
    background: linear-gradient(60deg, red, yellow, red, yellow, red);
    font: 900 1.2em sans-serif;
    text-decoration: underline;
  }
  .card__boton:hover{
    background-color:var(--text-color-hover);
  }
  card__boton:active{
    background-color: rgb(6, 33, 24);
  }
  
  .border-box {
    background-clip: border-box;
  }
  .padding-box {
    background-clip: padding-box;
  }
  .content-box {
    background-clip: content-box;
  }
  .menu__texto:first-child{
    color:bisque;
  }
  .menu__texto:nth-child(2){
    color:bisque;
  }
  .text {
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.2);
  }




