h2{
   color:aqua; 
}
p{
    color:#FA287F;
}
li{
    color:rgb(59,9,30);
}
ul{
    color:rgba(224, 36, 114, 1);
}
.color-negro{
    color:burlywood;
}
#subtitulo{
    color:darkblue;
}